* {
  margin: 0 auto;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
}

.class-1 {
  font-weight: 500;
}

.class-2 {
  font-weight: 600;
}

.class-3 {
  font-weight: 700;
}
