* {
  margin: 0 auto;
}

:root {
  --dark-gray: hsl(0, 0%, 63%);
  --black: hsl(0, 0%, 0%);
  --white: hsl(0, 0%, 100%);
  --very-dark-gray: hsl(0, 0%, 27%);
}

body {
  font-size: 12px;
  font-family: "League Spartan", sans-serif;
  min-height: 100vh;
}

.image-container {
  width: 100%;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main,
.first-part,
.second-part {
  display: flex;
  flex-direction: column;
}

.header {
  /* encima de la imagen */
  position: fixed;

  /* centrar */
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

  /* padding superior */
  margin: 1rem;
}

.navbar {
  display: none;
}

.icon-hamburger {
  background-color: transparent;
  border: none;
  position: absolute;
  left: 1rem;
  cursor: pointer;
}

.first-text, .second-text {
  padding: 3rem 2rem;
}

.first-text h2 {
  line-height: 1;
  font-size: 2rem;
  font-weight: 600;
  margin: 0 0 1rem 0;
}

.first-text p {
  color: var(--dark-gray);
  line-height: 1.5;
  font-size: 1rem;
}

.first-text button {
  margin: 2rem 0;
  background-color: transparent;
  border: none;

  letter-spacing: 0.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

.second-text h2 {
  font-size: 1rem;
  font-weight: 500;
  margin: 0 0 1rem 0;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
}

.second-text p {
  color: var(--dark-gray);
  line-height: 1.5;
  font-size: 1rem;
}

.first-part button:hover {
  color: var(--dark-gray);
}

.first-part button > svg {
  fill: var(--black);
}

.first-part button:hover > svg {
  fill: var(--dark-gray);
}

@media screen and (min-width: 768px) {
  .main {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
  }

  .first-part{
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .second-part {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .first-part,
  .second-part {
    height: 100%;
  }

  .navbar {
    display: block;
  }

  .icon-hamburger {
    display: none;
  }

  .header {
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0.5rem 2rem;
    width: fit-content;
  }

  .navbar-ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }

  .navbar-ul > li > a {
    text-decoration: none;
    color: white;
    text-transform: lowercase;
  }

  .navbar-ul > li > a:hover {
    text-decoration: underline;
  }


  .first-text {
    padding: 4rem 2rem;
  }

  .first-part button {
    font-weight: 700;
  }
}
